.avt-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
}

.avt-content header {
		margin: 0 25px 0 25px;
}

.avt-table-section {
		border-spacing: 0;
		margin: 0 25px 0 25px;
		display: flex;
		justify-content: center;
}

.avt-table-section table {
		border-collapse: collapse;
}

.avt-table-section table thead {
		background-color: royalblue;
		color: white;
}

.avt-table-section table thead td {
		padding: 10px;
}

.avt-table-section table tbody tr:nth-child(even) {
		background-color: lightgray;
}

.avt-table-section table tbody td {
		padding: 0 10px;
}

.avt-pagination-section {
		margin: 0 25px 0 25px;
}

.avt-pagination {
		margin: 0;
		display: flex;
		list-style: none;
		justify-content: center;
}

